target/
bin/
database/
*.iml
*.log
*.log.*
*.json
*.sh
*.zip
.metadata
local.properties
pom.xml.releaseBackup

# Eclipse project specific
.classpath
.settings
.recommenders
RemoteSystemsTempFiles/

# Temporary
travis.yml
settings.xml
com.zsmartsystems.zigbee/doc
simple-network.xml

# Output Files
*.jar
*.war

# ZigBee Files
*.ota
*.ebl
*.gbl
*.s37

# Gradle
.gradle
build/
.gradletasknamecache
!gradle-wrapper.jar
